@font-face {
	font-family: 'Fira Code';
	src: url('FiraCode-Regular.ttf')  format('truetype')
  }

body {
	background: #002B36; /* Base 03 */
	padding: 15px 50px 25px;
	margin: 0px;
}

/* textarea */

textarea {
	background: transparent;
	border: 0px;
	color: #93A1A1; /* Base 1 */
	padding: 0px;
	width: 100%;
	height: 100%;
	font-family: 'Fira Code',monospace;
	outline: none;
	resize: none;
	font-size: 15px;
	margin-top: 0;
	margin-bottom: 0;
	scrollbar-color: #586E75 #073642;
}

::-webkit-scrollbar {
	width: 15px;
	height: 15px;
}
::-webkit-scrollbar-track-piece  {
	background-color: #073642; /* Base 02 */
}
::-webkit-scrollbar-thumb:vertical {
	height: 30px;
	background-color: #586E75; /* Base 01 */
}

/* Light Mode */

.light-mode {
	background: #FDF6E3; /* Base 3 */
}

.light-mode textarea {
	color: #586E75; /* Base 01 */
	scrollbar-color: #93A1A1 #EEE8D5;
}

.light-mode ::-webkit-scrollbar-track-piece  {
	background-color: #EEE8D5; /* Base 2 */
}
.light-mode ::-webkit-scrollbar-thumb:vertical {
	height: 30px;
	background-color: #93A1A1; /* Base 1 */
}

#light-mode-btn:before {
	content: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%2393A1A1" class="bi bi-moon-fill" viewBox="0 0 16 16"><path d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z"/></svg>');
	float: right;
	padding-top: 2px;
}

.light-mode #light-mode-btn:before {
	content: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%23586E75" class="bi bi-brightness-high-fill" viewBox="0 0 16 16"><path d="M12 8a4 4 0 1 1-8 0 4 4 0 0 1 8 0zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"/></svg>');
}
